{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>GitHub Oauth</h1>
        <hr>
        Nombre: {{ user.name }}<br>
        ID: {{ user.id }}<br>




        {%   if check == 1 %}
            <b>User in</b>
        {% else %}
            <b>User created</b>
        {% endif %}
    </div>


{% endblock %}